{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/back.svg">
        </button>
        <button class="button">
            <img src="/img/avatar.png">
        </button>
    </header>

    <h1 class="title">Мій блог</h1> --}}

    {{!-- <main class="post__list">
        <div class="post button card__light">
            <header class="post__header">
                <div class="post__category--list">
                    <span class="post__category card__category--1">Важливо</span>
                    <span class="post__category card__category--2">Нова</span>
                </div>
                <p class="post__date">25.01</p>
            </header>
            <p class="post__text text__dark">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як
                Джобс</p>
        </div>
        <div class="post">
            <header class="post__header">
                <div class="post__span">
                    <span class="post__category card__category--1">Важливо</span>
                    <span class="post__category card__category--2">Нова</span>
                </div>
                <p class="post__date">15.01</p>
            </header>
            <p class="post__text text__light"> Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак
                самопрезентацій.</p>
        </div>
        <div class="post post__light">
            <header class="post__header">
                <div class="post__span">
                    <span class="post__alert">Важливо</span>
                    <span class="post__info">Нова</span>
                </div>
                <p class="post__date">25.01</p>
            </header>
            <p class="post__text text__dark">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як
                Джобс</p>
        </div>
    </main> --}}

    {{!-- <div class="post__tab">
        <button class="tab button">База знань</button>
        <button class="tab button tab-use">Інформація</button>
    </div>

    <div class="info">

        <img src="/img/meet.png">

        <h2 class="info__title">Що таке база знань?</h2>
        <p class="info__text ">База знаний — база данных, содержащая правила вывода и информацию о
            человеческом опыте и знаниях в некоторой предметной области. В самообучающихся системах база знаний
            также содержит информацию, являющуюся результатом решения предыдущих задач. </p>

        <button class="info__button button">Перейти до ком'юніті у Телеграм</button>

    </div>--}}

</div>
{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}